[user]
    email = yiminlllin@gmail.com
    name = Yimin Lin
[core]
    pager = delta
    editor = nvim
[fetch]
    prune = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = true
    linenumbers = true
    side-by-side = true
    diff-alignment = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[init]
    defaultBranch = main
